.subreddit-details-item {
  &__outer {
    margin-bottom: 44px;
  }

  &__label {
    color: #263d52;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .subreddit-details-item {
    &__outer {
      padding: 0 16px;
    }
  }
}
