.home-post {
  &__outer {
    background: #ffffff;
    border: 1px solid #e2e7eb;
    border-radius: 5px;
    padding: 24px;
    margin: 24px 0;
  }

  &__title {
    color: #263d52;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
  }
}

.home-post-details {
  &__outer {
    display: flex;
    font-size: 18px;
    align-items: center;
    color: #8a95a5;
    margin-top: 15px;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__divider {
    margin: 0 6px;
  }

  &__subreddit {
    color: #4583c2;
    font-weight: 700;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .home-post {
    &__outer {
      margin: 0;
      border-radius: 0;
      border-bottom: 0;
    }

    &__title {
      font-size: 20px;
    }
  }

  .home-post-details {
    &__outer {
      font-size: 16px;
    }
  }
}
