.title {
  &__outer {
    &--left-aligned {
      margin-left: 20px;
    }
  }

  &__heading {
    font-weight: 900;
    color: #263d52;
    margin: 0;
    margin-bottom: 5px;
    font-size: 48px;
  }

  &__subheading {
    color: #8a95a5;
    margin: 0;
    font-size: 26px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    &__outer {
      padding: 0 16px;
      margin-bottom: 20px;

      &--left-aligned {
        margin-left: 0;
      }
    }
  }
}
